.flatButton{
    padding: 1rem !important;
    padding-inline: 3rem !important;
    background-color: #ffe7a0   !important;
    color: #151514 !important;
    width: fit-content;
    border-radius: 2rem !important;
    font-weight: 500 !important;
    font-size: 1.2rem !important;
    transition: all 0.3s !important;
    cursor: pointer !important;
    border: none !important;
}
.flatButton:hover{
    background-color: #ffe7a059;
    color: unset;
}
.outlineButton{
    padding: 0.3rem;
    padding-inline: 1rem;
    color: #151514;
    background-color: #f1ecdf;
    width: calc(100% - 6rem);
    text-align: center;
    border-radius: 0.8rem;
    font-weight: 600;
    font-size: 1rem;
    transition: all 0.3s;
    cursor: pointer;
    border: solid   0.2rem #151514;
    box-shadow: #151514 0.2rem    0.2rem;
}
.bookButton{
    position: absolute;
    bottom: 1.5rem;
}
@media (max-width:1000px) {
    .flatButton{
        padding: 0.5rem !important;
        padding-inline: 1.5rem !important;
        font-size: 1rem !important;
    }
}