.page{
    background-image: linear-gradient(to bottom,darkcyan, #196a6a);
    padding-top: 8rem;
    padding-inline: calc(50vw - 475px);
    width: 950px;
    /* overflow; */
}
.page p{
    margin: 0;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    /* width: 700px; */
    text-align: justify;
    font-size: 1.3rem;
    padding-bottom: 1rem;
    /* display: flex; */
    
}
.page ul,.page ol{
    margin-bottom: 0;
    padding-bottom: 1rem;

}
.page a{
    color: rgb(248, 248, 93);
}
.page ul,.page ol{
    font-size: 1.3rem;
}
.page h2{
    font-size: 2rem;
}
.page h3{
    font-size: 1.5rem;
}
.page img{
    margin: 2rem;
    /* position: relative; */
    margin-inline: calc(50% - 350px );
    /* width: calc(100% - 4rem); */
    width:700px ;
    /* justify-self: center; */
}
.page h1{
    text-align: center;
    font-size: 3.5rem;
    font-weight: 900;
    /* margin-bottom: 0.2rem; */
    letter-spacing: 0.05rem;
    margin-top: 0px;
}
.page section{
    display: flex;
    align-items: flex-start;
    justify-content: center;
}
.page td{
    padding: 1rem;
    border: 0.2rem #fff solid;
}
.page thead td{
    font-weight:700 ;
}
.page table{
    border-collapse: collapse;
    min-width: 700px;
}

@media (max-width:1000px) {
    .page iframe{
        width: 360px;
        height: 210px;
    }
    .page{
        padding-inline:1rem ;
        width: calc(100vw - 2rem);
        padding-top: 14rem;
    }
    .page p,.page ul,.page ol{
        font-size: 1rem;
        letter-spacing: -0.05rem;
        max-width: 85vw;
    }
    .page h1{
        font-size: 2.4rem;
        margin-bottom: 0.12rem;
        letter-spacing: -0.12rem;
    }
    .page h2{
        font-size: 1.8rem;
        margin-bottom: 0.09rem;
        letter-spacing: -0.09rem;
    }
    .page h3{
        font-size: 1.2rem;
        margin-bottom: 0.06rem;
        letter-spacing: -0.06rem;
    }
    .page img{
        width: 320px;
        margin-inline: calc(50% - 160px);
    }
}