html,body{
  margin:0;
  padding: 0;
    background-color: #151514;
    color: #f1ecdf;
    /* color: #33302a; */
  box-sizing: border-box;
  font-family: var(--inter);
}
main{
  margin-top: 0rem;
  position: relative;
  /* padding-inline: 4rem; */
}