html,body{
  margin:0;
  padding: 0;
    background-color: #151514;
    color: #f1ecdf;
    /* color: #33302a; */
  box-sizing: border-box;
  font-family: var(--inter);
  max-width: 100vw;
  overflow-x:hidden ;
  scroll-behavior: smooth !important;
}
main{
  margin-top: 0rem;
  position: relative;
  scroll-behavior: smooth !important;
  /* padding-inline: 4rem; */
}
a{
  text-decoration: none;
    color: unset;
}